:root {
  --bg-white-colour: rgba(255, 255, 255, 1);
  --footer-bg-colour: rgba(47, 48, 58, 1);
  --accent-colour: rgba(33, 150, 243, 1);
  --text-colour: rgba(33, 33, 33, 1);
  --text-colour-two: rgba(117, 117, 117, 1);
  --mail-phone-colour: rgba(255, 255, 255, 0.6);
  --command-bg-colour: rgba(245, 244, 250, 1);
  --border-colour: rgba(238, 238, 238, 1);
  --hero-overlay-bg: rgba(47, 48, 58, 0.4);
  --icon-colour: rgba(175, 177, 184, 1);
  --icon-footer: rgba(67, 68, 77, 1);
  --backdrop-colour: rgba(0, 0, 0, 0.2);
  --galary-accent-colour: rgba(33, 150, 243, 0.9);
}
/*--------------Палітра кольорів---------*/
/* BG & white colour - rgba(255, 255, 255, 1) */
/* footer bg color - rgba(47, 48, 58, 1)*/
/* accent colour - rgba(33, 150, 243, 1) */
/* text colour - rgba(33, 33, 33, 1) */
/* text color two - rgba(117, 117, 117, 1) */
/* mail-phone colour - rgba(255, 255, 255, 0.6) */
/* our comand bg colour - rgba(245, 244, 250, 1) */
/* border colour - rgba(238, 238, 238, 1) */
/* overlay hero bg - rgba(47, 48, 58, 0.4) */
/* icon colour - rgba(175, 177, 184, 1)*/
/* icon footer colour - rgba(67, 68, 77, 1) */
/* backdrop colour - rgba(0, 0, 0, 0.2) */
/* galary accent colour - rgba(33, 150, 243, 0.9) */

/* Скругляє краї малюнка при переповненні.
overflow: hidden; */
