.activation__logo {
  font-family: 'Raleway', sans-serif;
  color: var(--text-colour);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}
.logo__web {
  color: var(--accent-colour);
}
