html {
  box-sizing: border-box;
}
body {
  color: var(--text-colour);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
